@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager﻿
@using PudgeManga_Project.ViewModels
@model EditProfileViewModel

<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true">
</head>

<body>


    <div class="main-container container py-5 mt-5">
        <section class="space-sm pb-4">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <h1 class="h2">Налаштування профілю</h1>
                    </div>
                    <!--end of col-->
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!--end of section-->
        <section class="flush-with-above height-80 d-block">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="profile" role="tabpanel">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="media flex-wrap mb-0 align-items-center">
                                    @{
                                        var imageUrl = string.IsNullOrEmpty(Model.ProfileImageUrl)
                                        ? "/img/avatar-male-3.jpg"
                                        : Model.ProfileImageUrl;
                                    }
                                    <img alt="Image" src="@imageUrl" class="avatar avatar-lg mb-3 mb-md-0" />
                                    <script src="~/js/dropzone.min.js"></script>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <div id="dropzone" class="btn btn-danger">
                                                <form asp-controller="User" asp-action="UploadProfilePicture"
                                                    asp-route-userId="@UserManager.GetUserId(User)"
                                                    class="dropzone needsclick dz-clickable" id="uploader">
                                                    <div class="dz-message needsclick">
                                                        Натисніть для завантаження файлу<br>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <script src="~/js/admin-drop-zone.js"></script>
                                </div>
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of row-->
                        <hr />
                        <div class="row mb-4">
                            <div class="col">
                                <h5>Інформація профілю</h5>
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of row-->
                        <div class="row">
                            <!--end of col-->
                            <div class="col-12 col-md-8 order-md-1">
                                <form asp-action="EditProfile" method="post" class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="State">City:</label>
                                            <select asp-for="State" asp-items="@(ViewBag.CityList)"
                                                class="form-control">
                                                <option value="">Виберіть ваше місто</option>
                                            </select>
                                            <span asp-validation-for="State" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="UserName">Нікнейм:</label>
                                            <input asp-for="UserName" type="text" class="form-control form-control-lg"
                                                value="@User.Identity.Name" />
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Age">Вік:</label>
                                            <input asp-for="Age" type="text" class="form-control form-control-lg" />
                                            <span asp-validation-for="Age" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="Aboutme">Про мене:</label>
                                            <input asp-for="Aboutme" type="text" class="form-control form-control-lg" />
                                            <span asp-validation-for="Aboutme" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Зберегти зміни</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </div>
                <!--end of tab pane-->

            </div>
            <!--end of tabs content-->
        </section>
        <!--end of section-->
    </div>


    <script type="text/javascript">
        function submitProfileImage() {
            document.getElementById("submit-image-button").click();
        }
    </script>

</body>