@model IEnumerable<PudgeManga_Project.ViewModels.CalendarViewModel>


<head>
    <link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true">
</head>

<body>
    <div class="container main-container pt-3 calendar rounded-4 my-5 ">

        <div class="row text-center mb-4">
            <h2>Дата виходу манги</h2>
        </div>
        <div class="row text-center">
            <h4>Грудень</h4>
        </div>

        <div class="row d-flex justify-content-center flex-row mb-4">

            <div class="col-2 text-center">
                <h4></h4>
            </div>
        </div>



        <div class="row justify-content-center justify-content-sm-start">
            @{
                var i = 0;
            }
            @foreach (var item in Model)
            {
                <div class="image-container d-flex col-8 col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4 ">
                    <h3 class="day-number-box day-number">@item.PublicationDate.Day</h3>



                    <div id="carouselExampleAutoplaying@(i)" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @foreach (var chapter in item.Chapters.Select((Value, Index) => new { Value, Index }))
                            {
                                <a asp-controller="Manga" asp-action="MangaDetails" asp-route-mangaId="@chapter.Value.MangaID">
                                    <div class="carousel-item @(chapter.Index == 0 ? "active" : "")">
                                        <img src="@chapter.Value.Url" class="img-fluid img-fit ">
                                    </div>
                                </a>

                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying@(i)"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying@(i)"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                    
                </div>
                i++;
            }
        </div>


    </div>
</body>
