﻿@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}






<head>
    <link rel="stylesheet" href="~/css/about-us.css" asp-append-version="true">
</head>

<body>
    <main>
        <div class="container">

            <div class="row d-flex justify-content-center p-5 my-4">

                <div class="col-xl-9 col-lg-10 col-md-11  container-box p-4">
                    <h2 class="text-center py-2 ">Ласкаво Просимо на PudgeSoft!</h2>

                    <div class="d-flex justify-content-around">
                        <div class=" col-12 col-2">
                            <p class="  ">
                                Вітаємо у захоплюючому світі японської анімації та манги!
                                Ми - команда ентузіастів, що об'єднується любов'ю до японської анімації та манги. <br>
                                Наш сайт створений з метою об'єднати шанувальників аніме та манги з усього світу,
                                пропонуючи безмежний простір для відкриття нових історій.

                            </p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-md-around justify-content-between  align-self-start">
                        <div class="col-md-6 col mt-2 d-flex flex-column">
                            <div class="">
                                <h4 class="  "> Що Ми Пропонуємо?</h4>
                                <ul class="ps-4">
                                    <li class="">Pізноманіття Контенту: Велика колекція аніме і манги з різних жанрів,
                                        щоб кожен знайшов щось для себе</li>
                                    <li class="my-3">Користувацька Взаємодія: Можливість оцінювати, коментування та
                                        брати участь у спільноті.</li>
                                    <li class="">Особисті Профілі: Створення власного профілю для збереження улюблених
                                        творів, отримання рекомендацій та взаємодії з іншими користувачами.</li>
                                </ul>
                            </div>
                            <div class="my-xxl-4 d-lg-inline d-none">
                                <h4 class=""> Наші Зобов'язання</h4>
                                <p class="ps-4 ">
                                    Ми постійно працюємо над оновленням та удосконаленням нашого сайту, щоб забезпечити
                                    найвищий рівень задоволення користувачів.<br> Наша команда прагне до постійного
                                    розвитку, інтеграції нових функцій та підтримки високих стандартів якості контенту.
                                </p>
                            </div>
                            <div class="d-lg-inline d-none">
                                <h4 class="">Користувачі</h4>
                                <p class="ps-4 ">
                                    Наша спільнота - це серце нашого сайту. Ми піклуємося про кожного користувача,
                                    пропонуючи індивідуальний підхід, можливість взаємодії, обміну думками та досвідом у
                                    світі аніме та манги.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-6 col  d-md-inline d-none">
                            <img src="~/src/img/about-us/gojo.png" class=" img-fluid align-self-start">

                        </div>
                    </div>

                    <div
                        class="  d-flex d-inline d-lg-none justify-content-md-around justify-content-between  align-self-start">
                        <div class="col pt-2 d-flex flex-column">

                            <div class="py-3">
                                <h4 class=""> Наші Зобов'язання</h4>
                                <p class="ps-4 ">
                                    Ми постійно працюємо над оновленням та удосконаленням нашого сайту, щоб забезпечити
                                    найвищий рівень задоволення користувачів.<br> Наша команда прагне до постійного
                                    розвитку, інтеграції нових функцій та підтримки високих стандартів якості контенту.
                                </p>
                            </div>

                            <div>
                                <h4 class="">Користувачі</h4>
                                <p class="ps-4 ">
                                    Наша спільнота - це серце нашого сайту. Ми піклуємося про кожного користувача,
                                    пропонуючи індивідуальний підхід, можливість взаємодії, обміну думками та досвідом у
                                    світі аніме та манги.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex justify-content-around mt-xxl-4 mb-xxl-2 mt-4">
                        <div class="col-md-6 col d-md-inline d-none">
                            <img src="~/src/img/about-us/mik.png" class=" img-fluid">
                        </div>
                        <div class="col-md-6 col ">
                            <div class="mb-xxl-4 pb-xxl-1">
                                <h4 class=" ">Далі − Більше! </h4>
                                <p class="ps-4">
                                    Наші можливості росту безмежні, а наш підхід - завжди прогресивний.<br> Ми регулярно
                                    впроваджуємо нові функції, щоб забезпечити вам неперевершені можливості взаємодії та
                                    отримання задоволення від користування нашим ресурсом.<br> Продовжуйте подорож в
                                    світ відкриттів та вдосконалення разом з нами.
                            </div>
                            <div class="mt-xxl-4 d-lg-inline d-none">
                                <h4 class="">Долучайтесь та ставайте частиною спільноти!</h4>
                                <p class="ps-4">
                                    Приєднуйтеся до нас, разом ми будуємо спільноту, де магія анімації оживає, ідеї
                                    розцвітають, а кожен шанувальник знаходить своє неповторне місце.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class=" d-flex d-inline d-lg-none justify-content-md-around justify-content-between  align-self-start">
                        <div class="col pt-1 d-flex flex-column">

                            <div class="py-4 pb-md-2">
                                <h4 class="">Долучайтесь та ставайте частиною спільноти!</h4>
                                <p class="ps-4">
                                    Приєднуйтеся до нас, разом ми будуємо спільноту, де магія анімації оживає, ідеї
                                    розцвітають, а кожен шанувальник знаходить своє неповторне місце.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex flex-column flex-lg-row justify-content-around mt-md-2">
                        <div class="col-ld-6 col">

                            <div class="">
                                <h4>Зв'яжіться з Нами </h4>
                                <p class="ps-4">
                                    Маєте питання або пропозиції? Наша команда завжди готова вислухати вас. Звертайтеся
                                    до нас через соціальні мережі.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>