@model PudgeManga_Project.ViewModels.RegisterViewModel
<!DOCTYPE html>
@{
    ViewData["Title"] = "Sign up";
}
@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Sorry!</b> - @TempData["Error"] </span>
    </div>
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
    <title>pudge soft corporation</title> <!--change title-->
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
    <!--logo font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!--bootstrap css link-->
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script> <!--bootstrap js link-->

    <main class="d-flex align-items-center justify-content-center">
        <div class="form p-3 text-start">
            <form class="mb-4" asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h2 class="fs-4">Реєстрація</h2>
                <div class="mb-3">
                    <label class="control-label">Ім'я користувача</label>
                    <input asp-for="UserName" class="form-control" required maxlength="50" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="control-label">Електронна пошта</label>
                    <input asp-for="EmailAddress" class="form-control" required maxlength="50" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="control-label">Пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="control-label">Повторіть пароль</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Запам'ятати мене</label>
                </div>
                <div class="d-flex justify-content-between">
                    <input type="submit" class="btn btn-danger" style="width: 48%;" value="Зареєструватись" />
                    <a href="@Url.Action("Index", "Home")" class="btn btn-danger" style="width: 48%;">Повернутися
                        назад</a>
                </div>

            </form>
            <div class="hr mb-3"></div>
            <div class="text-center">Реєстрація за допомогою соціальних мереж</div>
            <div class="d-flex social justify-content-center">
                <a href="#" class=" mx-2"><img src="../src/img/facebook_665209.png"></a>
                <a href="#" class=" mx-2"><img src="../src/img/telegram_2111813.png"></a>
            </div>
            <div class="text-center">
                <span>Вже маєте акаунт? </span>
                <span><a href="@Url.Action("Login", "Account")" class="text-black">Увійти</a></span>
            </div>
        </div>
    </main>
</body>
