@{
    ViewData["Title"] = "Privacy Policy";
}
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <link rel="stylesheet" href="~/css/reading.css" asp-append-version="true">
</head>

<body>


    <!--main part-->
    <div class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center pb-5 pt-2">

                <div class="col-12 col-md-10 pages p-5">

                    <p class="fs-5">
                    <div>
                        <p><strong>Політика конфіденційності для сайту з перегляду манги та аніме</strong></p>

                        <p><strong>1. Збір і використання інформації</strong></p>

                        <p>1.1. Під час реєстрації на сайті ми можемо збирати особисту інформацію, таку як ім'я,
                            електронна адреса та інші дані, необхідні для створення облікового запису.</p>

                        <p>1.2. Ми можемо автоматично отримувати технічну інформацію про ваш відвідувач, таку як
                            IP-адреса, тип браузера, мова браузера та час доступу.</p>

                        <p>1.3. Збирана інформація використовується для надання послуг сайту, вдосконалення якості
                            контенту та спілкування з користувачами.</p>

                        <p><strong>2. Захист інформації</strong></p>

                        <p>2.1. Ми вживаємо заходів для захисту зібраної особистої інформації від втрати, неправомірного
                            доступу, використання, зміни чи поширення.</p>

                        <p>2.2. Доступ до особистої інформації обмежено та може бути наданий тільки співробітникам, які
                            мають необхідні повноваження.</p>

                        <p><strong>3. Використання cookies</strong></p>

                        <p>3.1. Сайт може використовувати cookies для збору інформації та поліпшення користувацького
                            досвіду. Користуючись сайтом, ви погоджуєтеся з використанням cookies.</p>

                        <p>3.2. Ви маєте можливість вимкнути або налаштувати використання cookies у налаштуваннях свого
                            браузера.</p>

                        <p><strong>4. Розголошення інформації третім сторонам</strong></p>

                        <p>4.1. Ми не розголошуємо особисту інформацію користувачів третім сторонам без їхнього
                            попереднього дозволу, крім випадків, коли це вимагається законом.</p>

                        <p><strong>5. Посилання на інші сайти</strong></p>

                        <p>5.1. Наш сайт може містити посилання на інші сайти, і ми не несемо відповідальності за
                            політику конфіденційності або зміст цих сайтів.</p>

                        <p><strong>6. Зміни в політиці конфіденційності</strong></p>

                        <p>6.1. Ми можемо оновлювати цю політику конфіденційності з часом. Зміни набудуть чинності з
                            моменту їхньої публікації на сайті.</p>

                        <p><strong>7. Контактна інформація</strong></p>

                        <p>7.1. Якщо у вас є питання щодо політики конфіденційності, звертайтеся за адресою електронної
                            пошти [ваша_електронна_адреса@example.com].</p>

                        <p>Ця політика конфіденційності набирає чинності з моменту її публікації і діє до зміни або
                            оновлення.</p>
                    </div>


                    </p>

                </div>
            </div>
        </div>
    </div>
</body>
