@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <link rel="stylesheet" href="~/css/reading.css" asp-append-version="true">
</head>

<body>


    <!--main part-->
    <div class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center pb-5 pt-2">

                <div class="col-12 col-md-10 pages p-5">

                    <p class="fs-5">
                    <div>
                        <strong>Угода користувача для сайту з перегляду манги та аніме</strong>

                        <p><strong>1. Обов'язки користувача</strong></p>

                        <p>1.1. Користувач приймає на себе зобов'язання використовувати сайт у відповідності з чинним
                            законодавством та умовами цієї угоди, уникаючи будь-яких дій, що можуть вплинути на роботу
                            сайту або інших користувачів.</p>

                        <p>1.2. Користувач зобов'язаний зберігати свій обліковий запис в безпеці, використовуючи
                            надійний пароль та уникаючи передачі свого облікового запису іншим особам.</p>

                        <p>1.3. Заборонено використовувати автоматизовані засоби, програми чи інші засоби, які можуть
                            завдати шкоди роботі сайту.</p>

                        <p><strong>2. Права та власність</strong></p>

                        <p>2.1. Користувач має право додавати свій контент на сайт, але при цьому несе відповідальність
                            за вміст та дотримання правил щодо обговорень та коментарів.</p>

                        <p>2.2. Адміністрація сайту залишає за собою право видаляти контент користувача, який порушує
                            правила сайту.</p>

                        <p>2.3. Користувач не має права вносити зміни у програмний код сайту чи іншим чином намагатися
                            обійти захист сайту.</p>

                        <p><strong>3. Контент для дорослих (18+)</strong></p>

                        <p>3.1. Користувачі зобов'язані повідомляти адміністрацію про будь-який контент для дорослих,
                            який може порушувати законодавство або правила сайту.</p>

                        <p>3.2. Відвідування сторінок з контентом для дорослих може вимагати додаткового підтвердження
                            віку.</p>

                        <p><strong>4. Авторизація та особистий профіль</strong></p>

                        <p>4.1. Користувач має право змінювати чи видаляти свій обліковий запис, повідомивши
                            адміністрацію сайту.</p>

                        <p>4.2. Адміністрація залишає за собою право відключити обліковий запис користувача у разі
                            порушення правил сайту.</p>

                        <p>4.3. Користувач зобов'язаний надавати достовірну та актуальну інформацію при створенні
                            особистого профілю.</p>

                        <p><strong>5. Відповідальність</strong></p>

                        <p>5.1. Користувач несе відповідальність за будь-які наслідки втрати облікового запису чи
                            несанкціонованого доступу до нього іншими особами.</p>

                        <p>5.2. Сайт може тимчасово або постійно обмежити доступ користувача у разі порушення угоди.</p>

                        <p><strong>6. Зміни угоди</strong></p>

                        <p>6.1. Зміни у цій угоді набирають чинності з моменту їхнього опублікування на сайті.
                            Користувач зобов'язаний періодично переглядати умови угоди для ознайомлення з можливими
                            змінами.</p>

                        <p>6.2. Продовження використання сайту після внесення змін свідчить про прийняття змін
                            користувачем.</p>

                        <p><strong>7. Рішення спорів</strong></p>

                        <p>7.1. У разі виникнення спорів чи розбіжностей сторони зобов'язуються вирішувати їх шляхом
                            переговорів та добросовісної співпраці.</p>

                        <p>7.2. Якщо сторони не зможуть досягти згоди, спори можуть бути передані на розгляд
                            відповідного судового органу відповідно до чинного законодавства.</p>

                        <p>Ця угода набуває чинності з моменту погодження користувачем і діє до її зміни або припинення.
                        </p>
                    </div>

                    </p>

                </div>
            </div>
        </div>
    </div>
</body>