@model PudgeManga_Project.ViewModels.AdminAnimeViewModels.CreateAnimeViewModel

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" type="text/css" asp-append-version="true" />
</head>
<h1>Create</h1>

<h4>Anime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studio" class="control-label"></label>
                <input asp-for="Studio" class="form-control" />
                <span asp-validation-for="Studio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dubbing" class="control-label"></label>
                <input asp-for="Dubbing" class="form-control" />
                <span asp-validation-for="Dubbing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AnimeGenreIds" class="control-label"></label>
                <select asp-for="AnimeGenreIds" asp-items="@Model.AllGenres" class="form-control" multiple></select>
                <span asp-validation-for="AnimeGenreIds" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Створити</button>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
