.main {
	background-color: rgba(0, 0, 0, 0.89);
}

main .container {
    background-color: #161313 !important;
    border-radius: 5px;
}


.manga-title img {
    width: auto;
    height: auto;
    max-width: 70%;
}
.bottom-text-block{
    background-color:#5c5858 ;
}
.top-nav{
    background-color: #312b2b;
}
.top-nav .text-body-secondary:hover{
    color: rgb(222 226 230 / 95%)!important;
}
.top-nav .nav-link{
    flex-grow: 1;
    text-align: center;
    padding: 8px 0;
}
.top-nav .active-page{
    background-color: #443b3b!important;
}

.other-info{
    width: 100%;
}
.stroke{
    justify-content: space-between;
}
.stroke a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: ease-in-out 0.2s;
}
.stroke p{
    margin-bottom: 0;
}
.stroke a:hover{
    border-bottom: 1px solid black;
}

.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.rating {
    text-align: center;
    width: 100%;
  }
  
  .hidden {
    opacity: 0;
  }
  
  .star {
    display: inline-block;
    margin: 5px;
    font-size: 30px;
    color: whitesmoke;
    position: relative;
  
    
    &.animate {
       -webkit-animation: stretch-bounce .5s ease-in-out;
    }
    
    &.hidden {
      opacity: 0;
    }
  }
  
  .full {
    &:before {
      font-family: fontAwesome;
      display: inline-block;
      content: "\f005";
      position: relative;
      float: right;
      z-index: 2;
    }
  }
  
  .half {
    &:before {
       font-family: fontAwesome;
       content: "\f089";
       position: absolute;
       float: left;
      z-index: 3;
    }
  }
  
  .star-colour {
    color: #ffd700;
  }
  
  
    
  @-webkit-keyframes stretch-bounce {
    0% {
      -webkit-transform: scale(1);
    }
    25% {
      -webkit-transform: scale(1.5);
    }
    50% {
      -webkit-transform: scale(0.9);
    }
    75% {
      -webkit-transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  
  .selected {
    &:before {
      font-family: fontAwesome;
      display: inline-block;
      content: "\f005";
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: scale(1);
      opacity: 1;
      z-index: 1;
    }
    
    &.pulse {
      &:before {
        -webkit-transform: scale(3);
        opacity: 0;
      }
    }
    
    &.is-animated {
      &:before {
         transition: 1s ease-out;
      }
    }
  }
  
  .score {
    
    font-size: 20px;
    color: #fff;

  }