main {
	background-color: rgba(0, 0, 0, 0.89);
}

main .pages {
	background-color: #161313;
	border-radius: 5px;
}


.splide__slide {
	display: flex;
	justify-content: center;
	max-height: 85vh;
	overflow: auto;
}

.splide__slide img {
	width: 90%;
	display: block;
	height: 100%;
}

.splide__list {
	align-items: flex-start;
}

.splide__list {
	transition: all 300ms ease;
}

.splide__pagination {
	bottom: -2em !important;
}